.main_div {
  background: url('../public/video-img.svg') no-repeat;
  background-position: center;
  min-height: 90vh; 
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: center; 
}

.main_div h1 {
  text-align: center; 
  color: #6C63FF;
  font-weight: bold;
}

.form_login {
  display: flex;
  flex-direction: column;
  max-width: 400px;  
  margin: 0 auto;
  border: 1px solid black;
  padding: 30px;
  background-color: #35317e;
  border-radius: 10px;
}

.form_login input, .form_login button {
  margin-top: 10px;
  border-radius: 6px;  
}


